{%- render 'section-spacing-collapsing' -%}

<style>
	#shopify-section-{{ section.id }} {
			{% if section.settings.custom_padding %}
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
			{% endif %}
	  --button-grid-columns: 1;
	}

	@media screen and (min-width: 700px) {
	  #shopify-section-{{ section.id }} {
	    --button-grid-columns: {{ section.settings.buttons_per_row }};
	  }
	}

	.button-grid {
	  display: grid;
	  grid-template-columns: repeat(var(--button-grid-columns), 1fr);
	  gap: var(--ul-grid-gutter);
	}

	{% if section.settings.custom_padding %}
		#shopify-section-{{ section.id }} {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}
	{% endif %}
</style>

<div {% render 'section-attributes' %}>
	<div class="section-stack">
		{%- render 'section-header',
			subheading: section.settings.subheading,
			heading: section.settings.title,
			content: section.settings.content,
			text_alignment: section.settings.text_alignment,
			heading_color: section.settings.heading_color,
			heading_gradient: section.settings.heading_gradient
		-%}

		<div class="button-grid">
			{%- for block in section.blocks -%}
				{%- case block.type -%}
					{%- when 'button' -%}
						{%- if block.settings.text != blank -%}
							<div {{ block.shopify_attributes }}>
								{% render 'button',
									content: block.settings.text,
									href: block.settings.url,
									size: block.settings.size,
									style: block.settings.style,
									stretch: block.settings.stretch,
									background: block.settings.background,
									text_color: block.settings.text_color
								%}
							</div>
						{%- endif -%}
				{%- endcase -%}
			{%- endfor -%}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Button Grid",
	"class": "shopify-section--button-grid",
	"tag": "section",
	"settings": [
		{
			"type": "header",
			"content": "General"
		},
		{
			"type": "range",
			"id": "buttons_per_row",
			"label": "Buttons per row",
			"min": 1,
			"max": 4,
			"default": 3
		},
		{
			"type": "header",
			"content": "Header"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading"
		},
		{
			"type": "richtext",
			"id": "content",
			"label": "Content"
		},
		{
			"type": "select",
			"id": "text_alignment",
			"label": "Text alignment",
			"options": [
				{
					"value": "start",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				}
			],
			"default": "center"
		},
		{
			"type": "checkbox",
			"id": "enable_custom_padding",
			"label": "Enable custom padding",
			"default": false
		},
		{
			"type": "color",
			"id": "heading_color",
			"label": "Heading color"
		},
		{
			"type": "color_background",
			"id": "heading_gradient",
			"label": "Heading gradient"
		},
		{
			"type": "checkbox",
			"id": "custom_padding",
			"label": "Custom padding",
			"default": false
		},
		{
			"type": "range",
			"id": "padding_top",
			"label": "Top padding",
			"min": 0,
			"max": 200,
			"step": 4,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"label": "Bottom padding",
			"min": 0,
			"max": 200,
			"step": 4,
			"default": 0,
			"unit": "px"
		}
	],
	"blocks": [
		{
			"type": "button",
			"name": "Button",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"label": "Text",
					"default": "Button"
				},
				{
					"type": "url",
					"id": "url",
					"label": "Link"
				},
				{
					"type": "select",
					"id": "size",
					"label": "Size",
					"options": [
						{
							"value": "sm",
							"label": "Small"
						},
						{
							"value": "md",
							"label": "Medium"
						},
						{
							"value": "lg",
							"label": "Large"
						},
						{
							"value": "xl",
							"label": "Extra Large"
						}
					],
					"default": "lg"
				},
				{
					"type": "select",
					"id": "style",
					"label": "Style",
					"options": [
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "fill",
							"label": "Fill"
						}
					],
					"default": "fill"
				},
				{
					"type": "checkbox",
					"id": "stretch",
					"label": "Stretch",
					"default": true
				},
				{
					"type": "color",
					"id": "background",
					"label": "Background"
				},
				{
					"type": "color",
					"id": "text_color",
					"label": "Text"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Button Grid",
			"blocks": [
				{
					"type": "button"
				},
				{
					"type": "button"
				},
				{
					"type": "button"
				}
			]
		}
	]
}
{% endschema %}
