{%- assign newsletter_block = section.blocks | where: 'type', 'newsletter' | first -%}

{%- if section.blocks.size > 3 -%}
	<style>
		@media screen and (min-width: 1000px) {
		    #shopify-section-{{ section.id }} {

			{% if section.settings.custom_padding %}
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;

			{% endif %}
		        {%- if newsletter_block != blank -%}
		            --ul-footer-block-list-gap: var(--ul-spacing-10);
		        {%- endif -%}

		        --ul-footer-block-list-justify-content: space-between;
		    }
		}
		{% comment %}.footer__wrapper .footer__aside-top {
		    display: none;
		}{% endcomment %}
	</style>
{%- endif -%}

<style>
	@media screen and (min-width: 1000px) {
		.footer__block--menu .footer__menu-icon {
			display: none;
		}
	}

	@media screen and (max-width: 999px) {
		.footer__block--menu {
			width: 100%;
			border-bottom: 1px solid rgba(0, 0, 0, 0.12);
			gap: 0;
			max-width: 100%;
			grid-column: 1 / -1;
		}

		.footer__block--menu .footer__menu-trigger {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem 0;
			background: none;
			cursor: pointer;
		}

		.footer__block--menu .footer__menu-content {
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows 0.3s ease;
		}

		.footer__block--menu .footer__menu-content.is-open {
			grid-template-rows: 1fr;
			padding-bottom: 1rem;
		}

		.footer__block--menu .footer__menu-inner {
			overflow: hidden;
		}

		.footer__block--menu .footer__menu-icon {
			transition: transform 0.3s ease;
		}

		.footer__block--menu .footer__menu-icon.is-open {
			transform: rotate(180deg);
		}

		.footer__block--menu ul {
			margin: 0;
			padding: 0;
		}
	}
</style>

<div class="footer">
	<div class="container">
		<div class="footer__wrapper">
			{%- if section.blocks.size > 0 -%}
				<div class="footer__block-list empty:hidden">
					{%- for block in section.blocks -%}
						{%- case block.type -%}
							{%- when 'text' -%}
								{%- if block.settings.title != blank
									or block.settings.content != blank
									or shop.features.follow_on_shop?
									and block.settings.enable_follow_on_shop
								-%}
									<div class="footer__block footer__block--text" {{ block.shopify_attributes }}>
										{%- if block.settings.title != blank -%}
											<p class="bold">{{ block.settings.title | escape }}</p>
										{%- endif -%}

										{%- if block.settings.content != blank -%}
											<div class="prose text-subdued">
												{{- block.settings.content -}}
											</div>
										{%- endif -%}

										{%- if shop.features.follow_on_shop?
											and block.settings.enable_follow_on_shop
										-%}
											<div class="follow-on-shop">
												{{- shop | login_button: action: 'follow' -}}
											</div>
										{%- endif -%}
									</div>
								{%- endif -%}

							{%- when 'links' -%}
								{%- if block.settings.menu != blank -%}
									<div class="footer__block footer__block--menu" {{ block.shopify_attributes }}>
										<button class="footer__menu-trigger" aria-expanded="false">
											{%- if block.settings.show_menu_title -%}
												<span class="bold">{{ block.settings.menu.title }}</span>
											{%- endif -%}
											<span class="footer__menu-icon">
												{%- render 'icon' with 'chevron-bottom' -%}
											</span>
										</button>

										<div class="footer__menu-content">
											<div class="footer__menu-inner">
												<ul class="grid gap-3" role="list">
													{%- for link in block.settings.menu.links -%}
														<li>
															<a
																href="{{ link.url }}"
																class="link-faded inline-block break-all"
																{% if block.settings.menu.title == 'Social' %}
																	target="_blank"
																{% endif %}
															>
																{{- link.title -}}
															</a>
														</li>
													{%- endfor -%}
												</ul>
											</div>
										</div>
									</div>
								{%- endif -%}

							{%- when 'newsletter' -%}
								<div class="footer__block footer__block--newsletter" {{ block.shopify_attributes }}>
									{%- if block.settings.image != blank -%}
										{%- capture sizes -%}
                                        {{ block.settings.image_width }}px{%- endcapture -%}
										{%- capture widths -%}
                                        {{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 | at_most: block.settings.image.width }}{%- endcapture -%}
										{%- capture style -%}max-width: {{ block.settings.image_width }}px{%- endcapture -%}
										{{-
											block.settings.image
											| image_url: width: block.settings.image.width
											| image_tag: loading: 'lazy', style: style, sizes: sizes, widths: widths
										-}}
									{%- endif -%}

									<div class="grid gap-6">
										{%- if block.settings.title != blank -%}
											<p class="{{ block.settings.heading_size }}">
												{{- block.settings.title | escape -}}
											</p>
										{%- endif -%}

										{%- if block.settings.content != blank -%}
											<div class="prose text-subdued">
												{{- block.settings.content -}}
											</div>
										{%- endif -%}

										{%- form 'customer',
											id: 'footer-newsletter',
											class: 'footer__newsletter-form form'
										-%}
											{%- if form.posted_successfully? -%}
												{%- capture success_message -%}
                                                {{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
												{%- render 'banner', content: success_message, status: 'success' -%}
											{%- else -%}
												{%- if form.errors -%}
													{%- capture error_message -%}
                                                    {{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
													{%- render 'banner', content: error_message, status: 'error' -%}
												{%- endif -%}

												<input
													type="hidden"
													name="contact[tags]"
													value="newsletter"
												>

												{%- capture label -%}
                                                {{ 'general.newsletter.email' | t }}{%- endcapture -%}
												{%- render 'input',
													name: 'contact[email]',
													label: label,
													type: 'email',
													required: true,
													autocomplete: 'email',
													enterkeyhint: 'send',
													self_submit: true
												-%}
											{%- endif -%}
										{%- endform -%}
									</div>
								</div>

							{%- when 'image' -%}
								<div class="footer__block footer__block--text {{ block.settings.alignment }} flex">
									{%- if block.settings.image != blank -%}
										{%- assign image_size_2x = block.settings.image_width
											| times: 2
											| at_most: 5760
										-%}
										<img
											alt="{{ block.settings.image.alt | escape }}"
											height="{{ block.settings.image.height }}"
											loading="lazy"
											src="{{ block.settings.image | image_url: width: 400 }}"
											srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
											style="max-width: min(100%, {{ block.settings.image_width }}px);"
											width="{{ block.settings.image.width }}"
										>
									{%- else -%}
										<div style="max-width: 20rem;">
											{{ 'image' | placeholder_svg_tag: 'w-full placeholder' }}
										</div>
									{%- endif -%}
								</div>

							{% when 'liquid' %}
								<div class="footer__block">
									{{ block.settings.custom_liquid }}
								</div>
						{%- endcase -%}
					{%- endfor -%}
				</div>
			{%- endif -%}

			<div class="footer__aside empty:hidden">
				{%- if section.settings.show_social_media -%}
					{%- capture social_media -%}
                        {%- render 'social-media' -%}{%- endcapture -%}
				{%- endif -%}

				{%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
					{%- assign country_selector = true -%}
				{%- endif -%}

				{%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
					{%- assign locale_selector = true -%}
				{%- endif -%}

				{%- if social_media != blank or country_selector or locale_selector -%}
					<div class="footer__aside-top">
						{{- social_media -}}

						{%- if country_selector or locale_selector -%}
							<div class="h-stack gap-6">
								{%- if social_media == blank -%}
									{%- assign popover_horizontal_position = 'start' -%}
								{%- else -%}
									{%- assign popover_horizontal_position = 'end' -%}
								{%- endif -%}

								{%- if country_selector -%}
									{%- render 'localization-selector',
										type: 'country',
										show_country_name: section.settings.show_country_name,
										popover_horizontal_position: popover_horizontal_position
									-%}
								{%- endif -%}

								{%- if locale_selector -%}
									{%- render 'localization-selector',
										type: 'locale',
										popover_horizontal_position: popover_horizontal_position
									-%}
								{%- endif -%}
							</div>
						{%- endif -%}
					</div>
				{%- endif -%}

				<div class="footer__aside-bottom">
					{%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
						<div class="footer__payment-icons h-stack wrap gap-2">
							{%- for type in shop.enabled_payment_types -%}
								{{- type | payment_type_svg_tag -}}
							{%- endfor -%}
						</div>
					{%- endif -%}

					<p class="footer__copyright text-subdued text-sm">© {{ 'now' | date: '%Y' }}, {{ shop.name }}.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	document.querySelectorAll('.footer__menu-trigger').forEach((trigger) => {
		trigger.addEventListener('click', () => {
			const content = trigger.nextElementSibling
			const icon = trigger.querySelector('.footer__menu-icon')
			const isOpen = trigger.getAttribute('aria-expanded') === 'true'

			trigger.setAttribute('aria-expanded', !isOpen)
			content.classList.toggle('is-open')
			icon.classList.toggle('is-open')
		})
	})
</script>

{% schema %}
{
	"name": "Footer",
	"class": "shopify-section--footer",
	"tag": "footer",
	"max_blocks": 5,
	"settings": [
		{
			"type": "checkbox",
			"id": "show_social_media",
			"label": "Show social media",
			"info": "To configure social media, go to your social media settings.",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_payment_icons",
			"label": "Show payment icons",
			"default": true
		},
		{
			"type": "header",
			"content": "Country/region selector",
			"info": "To add a country/region, go to your [markets settings.](/admin/settings/markets)"
		},
		{
			"type": "checkbox",
			"id": "show_country_selector",
			"label": "Show country/region selector",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_country_name",
			"label": "Show country name",
			"default": true
		},
		{
			"type": "header",
			"content": "Language selector",
			"info": "To add a language, go to your [language settings.](/admin/settings/languages)"
		},
		{
			"type": "checkbox",
			"id": "show_locale_selector",
			"label": "Show language selector",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "custom_padding",
			"label": "Custom padding",
			"default": false
		},
		{
			"type": "range",
			"id": "padding_top",
			"label": "Top padding",
			"min": 0,
			"max": 200,
			"step": 4,
			"default": 40,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"label": "Bottom padding",
			"min": 0,
			"max": 200,
			"step": 4,
			"default": 40,
			"unit": "px"
		}
	],
	"blocks": [
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "About our store"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
				},
				{
					"type": "checkbox",
					"id": "enable_follow_on_shop",
					"label": "Show Follow on Shop",
					"info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)",
					"default": true
				}
			]
		},
		{
			"type": "links",
			"name": "Links",
			"settings": [
				{
					"type": "link_list",
					"id": "menu",
					"label": "Menu",
					"info": "This menu won't show dropdown items.",
					"default": "footer"
				},
				{
					"type": "checkbox",
					"id": "show_menu_title",
					"label": "Show menu title",
					"default": true
				}
			]
		},
		{
			"type": "newsletter",
			"name": "Newsletter",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image",
					"info": "600 x 600px .png recommended"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 50,
					"max": 300,
					"step": 10,
					"unit": "px",
					"label": "Image width",
					"default": 150
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Title size",
					"options": [
						{
							"value": "h3",
							"label": "H3"
						},
						{
							"value": "h4",
							"label": "H4"
						},
						{
							"value": "h5",
							"label": "H5"
						},
						{
							"value": "h6",
							"label": "H6"
						}
					],
					"default": "h3"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Sign up to our newsletter"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content"
				}
			]
		},
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 50,
					"max": 200,
					"step": 5,
					"unit": "px",
					"label": "Image width",
					"default": 100
				},
				{
					"type": "select",
					"id": "alignment",
					"label": "Image alignment on large screen",
					"options": [
						{
							"value": "justify-items-start",
							"label": "Left"
						},
						{
							"value": "justify-items-center",
							"label": "Center"
						},
						{
							"value": "justify-items-end",
							"label": "Right"
						}
					],
					"default": "justify-items-center"
				}
			]
		},
		{
			"type": "liquid",
			"name": "Custom Liquid",
			"settings": [
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "Custom Liquid",
					"info": "Add app snippets or other Liquid code to create advanced customizations."
				}
			]
		}
	]
}
{% endschema %}
